<section id="addPrg">
 <form action="/add" method="post">
  Description:<br>
  <input type="text" name="prgDescription" ><br><br>
  Command:<br>
  <input type="text" name="prgCommand" >
  <br><br><br>
  <input type="submit">
 </form>
</section>
