<% if @program %>
  <p>Are you sure you want to delete the following Program: <em>"<%= @program.title %>"</em>?</p>
  <form action="/<%= @program.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Yes, Delete It!">
    <a href="/<%= @program.id %>">Cancel</a>
  </form>
<% else %>
  <p>Program not found.(DELETE)</p>
<% end %>
