<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Maschine Builder 2000</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <form action='relate/progress' method='get'>
    <% getAllPrograms.each do |id| %>
          
       <label class='checkbox'>
         <input type='radio' name='progVote' value='<%= id.title %>'  id='vote_<%= id %>' />
            <%= id.title %>
       </label>
    <% end %>
      <br>
      <button type='submit' class='btn btn-primary'>Next</button>
    </form>
  </body>
</html>