<% if @programVote %>
 <form action="/commit" method="post">
   Your YAML File<br>
   <body class='container'>
    <pre><%= @yamlfile %></pre>
   </body>
  <br>
   <section id="commit">
    <input type="submit"  value="Publish">
   </section>

 </form>
<% else %>
  <p>You did't choose an application!</p>
<% end %>




 
