
<article >
    <p> Installed to... <%= @installationFolder%> </p>
    <%if @folderCreation == true%>
        <p class="meta"><span style="font-weight:bold; color:green"> check</span> </p>
    <% else %>
        <p class="meta"><span style="font-weight:bold; color:red"> failed</span> </p>
    <% end %>
</article>

<article >
    <p> Set folder permissions... </p>
    <%unless @folderPermissions.nil?%>
        <p class="meta"><span style="font-weight:bold; color:green">check</span> </p>
    <% else %>
        <p class="meta"><span style="font-weight:bold; color:red"> failed</span> </p>
    <% end %>    
</article>

<article >
    <p> Build Vagrant File... </p>
    <p class="meta"><span style="font-weight:bold; color:green">check</span> </p>
</article>
<article >
    <p> Start Vagrant... </p>
    <p class="meta"><span style="font-weight:bold; color:green">check</span> </p>
</article>
<article >
    <p> Installed all Programs... </p>
    <p class="meta"><span style="font-weight:bold; color:green">check</span> </p>
</article>
<article >
    <p> Machine ready..."HOSTNAME" </p>
    <p class="meta"><span style="font-weight:bold; color:green">check</span> </p>
</article>


